<div width="800px" style="text-align:left">
<h1>NKO2012 Workshop</h1>

<ul>
<li><a href="/productList.html">Product List Page</a></li>
<li><a href="/createProduct.html">Product createProduct Page</a></li>
</ul>


</div>